/* ===== FUNDO ===== */
body {
    overflow: hidden;
    min-height: 100vh;
    background-image: url('../../assets/imgs/elelogin.png');
    /* mesmo fundo do login */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}


.logo {
    width: 75px;
    height: auto;
    position: absolute;
    top: 25px;
    left: 35px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    gap: 60px;
}


.image-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-side img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.login-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    background: transparent;
}

.login-side h2 {
    font-size: 2.5rem;
    color: #0c0c0c;
    margin-bottom: 8px;
    font-weight: 700;
}

.login-side h2 span {
    color: #001f4d;
}

.login-side p {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 25px;
    white-space: nowrap;
}

.formulario {
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group span {
    font-size: 1.1rem;
    font-weight: 600;
    color: #001f4d;
    margin-bottom: 6px;
}

.input-group input {
    padding: 13px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

.input-group input:focus {
    box-shadow: 0 0 0 2px #001f4d inset;
}

.botao {
    width: 100%;
    background-color: #001f4d;
    color: #fff;
    border: none;
    padding: 13px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.botao:hover {
    background-color: #123a82;
    transform: translateY(-2px);
}

.register {
    text-align: center;
    margin-top: 25px;
    font-size: 1.1rem;
    color: #000;
}

.register a {
    color: #001f4d;
    font-weight: 600;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}