@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* --- Estilos Gerais --- */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #B9D1DF;
    margin: 0;
    padding: 0;

}

:root {
    --azul-escuro: #01184E;
    --Vazul-vivido: #031D8C;
    --azul-vivido1: #0034BB;
    --azul-vivido2: #0571D3;
    --azure: #45A3E4;
    --azure0-pastel: #8ACEFF;
    --cor-da-logo: #B9D1DF;
    --Cor-de-fundo-da-pagina: #F5F5F5;
}