body {
  overflow: hidden;
  min-height: 100vh;
  background-image: url('../../assets/imgs/elesobre.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.NossaMissao .container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* muda de linha pra coluna */
}

.NossaMissao h1 {
  font-size: 42px;
  font-weight: 700;
  color: var(--azul-vivido1);
  margin-bottom: 20px;
  border-bottom: 4px solid var(--azul-vivido1);
  display: inline-block;
  padding-bottom: 10px;
}

.NossaMissao p {
  font-size: 20px;
  color: #444;
  margin-bottom: 60px;
  line-height: 1.7;
}

.divisao {
  display: flex;
  justify-content: baseline;
  gap: 35px;
}

.info {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 10px 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 1px solid #eee;
}

.info:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.info img {
  width: 75px;
  height: auto;
  margin-bottom: 15px;
}

.info h3 {
  font-size: 20px;
  color: var(--azul-vivido1);
  margin-bottom: 10px;
}

.info p {
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}